*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */

header{
  background-color: lightblue;
  padding: 10px 0;
}

.header-container{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

header ul{
  display: flex;
  justify-content: center;
  width: 100%;
  list-style: none;
}

header ul li{
  margin: 0 5px;
}

/* Utility */

.bg-orange{
  background-color: orange;
}

.col-20{
  width: 20%;
  height: 40px;
  display: flex;
  align-items: center;
}

.col-60{
  width: 60%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-black{
  border: 1px dotted black;
}

.text-right{
  justify-content: flex-end;
}

/* Hero Section */

.first-section{
  background-color: darkblue;
  padding: 40px 0 60px 0;
  display: flex;
  justify-content: center;
}

.bg-violet{
  width: 600px;
  height: 250px;
  background-color: violet;
  margin: 0 auto;
}

/* Main Section 1 */

.second-section{
  background-color: white;
  padding: 40px 0;
}

.container.row{
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.bg-skyblue{
  background-color: skyblue;
  width: 60%;
  height: 300px;
}

.bg-rosybrown{
  background-color: rosybrown;
  width: 40%;
  height: 300px;
}


